# Server Config
PORT=3000

# Twilio Credentials
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

# Database Config
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_database_password
DB_NAME=jea_demo
DB_PORT=3306

# FTP Storage Config
FTP_HOST=localhost
FTP_PORT=21
FTP_USER=your_ftp_user
FTP_PASSWORD=your_ftp_password
FTP_ROOT=/public_html/uploads

# Twilio Content Template SIDs (Greeting List Picker)
GREETING_TEMPLATE_SID_EN=HXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GREETING_TEMPLATE_SID_AR=HXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Twilio Content Template SIDs (Customer Support List Picker)
SUPPORT_TEMPLATE_SID_AR=HX89288dad134a28816bbbe5509d1fd59e
SUPPORT_TEMPLATE_SID_EN=HXa5821a44a80b00d7d722871c3f266bfe

# Twilio Content Template SIDs (Membership Services Quick Reply)
MEMBERSHIP_SERVICES_TEMPLATE_SID_AR=HXbd68f7b925e56759719c287e1c999f55

# Twilio Content Template SIDs (Phone Request Text Template)
PHONE_REQUEST_TEMPLATE_SID_AR=HXb8e3c368aaccc5fd50fa51a588b97ec7
PHONE_REQUEST_TEMPLATE_SID_EN=HX4138986d24eb743ebf8b8967e532363b

# Twilio Content Template SIDs (Certificate Delivery Preference Quick Reply)
CERT_DELIVERY_PREFERENCE_TEMPLATE_SID_AR=HX27c980acc261b098fcbea5f24ac7f841

# Twilio Content Template SIDs (Certificate Receiver Info Quick Reply)
CERT_RECEIVER_INFO_TEMPLATE_SID_AR=HXbaf3f234788c5e7e51f3c1f671450aa8

# Twilio Content Template SIDs (Certificate Request Engineer Member Number Text Template)
CERT_REQUEST_ENG_NUMBER_TEMPLATE_SID_AR=HXe92a8ba024c28960a5e45474dbef26ca

# Twilio Content Template SIDs (Detailed Delivery Address Text Template)
ADDRESS_TEMPLATE_SID_AR=HX43bf47e5343fa31bed8c769e3361284f
ADDRESS_TEMPLATE_SID_EN=HX9e8b1fe91746f2084f3ae1be18698832









